@media screen and (max-width: 426px) {
  .faq .accordian-container {
    max-width: 90% !important;
  }
  .client-imgs .row div {
    padding: 50px;
  }

  .client-imgs .row div img{
    width: 50%;
    margin: auto;
  }
}

@media screen and (max-width: 320px) {
  header .navbar-brand img {
    width: 130px;
  }
}
